services:
  ausmalbilder_backend_rust:
    build: .
    container_name: ausmalbilder_backend_rust
    restart: always
    ports:
      - "8081:8081"
    environment:
      - API__SERVER__HOST=0.0.0.0
      - API__SERVER__PORT=8081
    depends_on:
      - db

  db:
    image: postgres:latest
    container_name: ausmalbilder_db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: ausmalbilder
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: ausmalbilder_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80"
    depends_on:
      - db

volumes:
  postgres_data:
