[package]
name = "shared"
version = "0.1.0"
edition = "2024"

[dependencies]
tracing = "0.1"
serde = { version = "1", features = ["derive"] }
config = { version = "0.15", default-features = false, features = ["yaml"] }